@mixin settingBorder {
  border: 1px dashed $textAlpha;
  border-radius: 15px;
}
.setting-main{
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh!important;
  @include bg-alpha(26,26,26,0.95);
  @include scrollLayout('y');
  .round-area{
    user-select: none;
    overflow: hidden;
    width: 98%;
    margin: 5px auto;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    @include settingBorder;
    .text-align-right{
      float: right;
      @include cursorPointer;
    }
  }
  .round-60{
    width: 60%;
    margin: 5px 20px;
  }
  .preview-config-container{
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 5px;
    padding: 10px;
    @include settingBorder;
    .preview-config-item{
      width: 49%;
    }
    .radius-input{
      border-radius: 5px;
    }
  }
  .preview-container{
    position: fixed;
    z-index: 11;
    width: 40%;
    min-width: 400px;
    height: 45vh;
    background: $tint;
    // min-height: 300px;
    @include settingBorder;
    top: 10px;
    right: 10px;
    .adjustPosition{
      position: absolute;
      bottom: 10px;
      text-align: center;
      width: 100%;
    }
  }
  
  .header{
    margin-left: 20px;
  }
  .about-logo{
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 18vh;
  }
  .input-label{
    display: block;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 14px;
  }
  .setting-input{
    background: $tint;
    border: 0;
    width: 60%;
    height: 30px;
    line-height: 30px;
    margin-left:  20px;
    margin-top:  5px;
    text-indent: 4px;
    vertical-align: middle;
  }
  .input-display-text{
    display: inline-block;
    line-height: 35px;
  }
  .setting-full-input{
    width: 80%;
    background: $tint;
    border: 0;
    height: 30px;
    line-height: 30px;
    margin-left:  20px;
    margin-top:  5px;
    text-indent: 4px;
  }
  .setting-small-input{
    width: 30%;
    background: $tint;
    border: 0;
    height: 30px;
    line-height: 30px;
    margin-left:  20px;
    margin-top:  5px;
    text-indent: 4px;
  }
  .close-icon{
    font-size: 20px;
    position: relative;
    right: 30px;
    top: 5px;
    @include cursorPointer;
  }
  .back-btn{
    @include WH(100px ,30px);
    @include textCenter(30px);
    @include FixedPositionTool(0,1.5%,10px,0);
    @include cursorPointer;
    border:solid $text 1px;
    border-radius: 4px;
  }
  .save-btn{
    @include WH(100px ,30px);
    @include textCenter(30px);
    @include FixedPositionTool(0,140px,10px,0);
    @include cursorPointer;
    border:solid $text 1px;
    border-radius: 4px;
  }
}