.setting-main{
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh!important;
  @include bg-alpha(26,26,26,0.95);
  @include scrollLayout('y');
  .baidu-api-area{
    overflow: hidden;
    width: 98%;
    margin: 5px auto;
    border: 1px solid $text;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    .header{
      margin-left: 20px;
    }
    .input-label{
      display: block;
      margin-left: 20px;
      margin-top: 10px;
      font-size: 14px;
    }
    .baidu-input{
      background: $tint;
      border: 0;
      width: 60%;
      height: 30px;
      line-height: 30px;
      margin-left:  20px;
      margin-top:  5px;
      min-width: 400px;
      text-indent: 4px;
    }
  }
  .back-btn{
    @include WH(100px ,30px);
    @include textCenter(30px);
    @include FixedPositionTool(0,1.5%,10px,0);
    @include cursorPointer;
    border:solid $text 1px;
    border-radius: 4px;
  }
  .save-btn{
    @include WH(100px ,30px);
    @include textCenter(30px);
    @include FixedPositionTool(0,140px,10px,0);
    @include cursorPointer;
    border:solid $text 1px;
    border-radius: 4px;
  }
}