.sidebar-container{
  height: calc(100vh - 30px);
  min-width: 250px;
  max-width: 250px;
  .top-toolbar{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    border-right: $tint 1px solid;
    .toolbar-item{
      width: 30px;
      height: 30px;
      position: relative;
      @include textCenter(30px);
      @include cursorPointer
    }
  }
  .file-list{
    width: 100%;
    height: calc(100% - 30px);
    @include scrollLayoutY;
    .file-item{
      font-size: $smallTxt;
      padding: 3px;
      position: relative;
      @include cursorPointer;
      .item-toolsbar{
        display: none;
        position: absolute;
        right: 1px;
      }
      &:hover .item-toolsbar{
        display: inline-block;
      }
      &:hover{
        background: $deep;
      }
    }
  }
}

