.timeline-layout-container{
  position: relative;
  height: calc(100vh - 35px);
  .tl-video-container{
    height: 50%;
    position: relative;
    overflow: hidden;
    .novideo{
      width: 45%;
      height: 60%;
      font-size: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 30px auto 0;
      transition: all 0.5s;
      transform:rotateZ(0deg) ;
    }
    .novideo:hover{
      transition: all 0.5s;
      transform:rotateZ(360deg) ;
    }
  }

  .tl-timeline-container{
    overflow: hidden;
    height: 50%;
    width: 100%;
    border-top: 1px solid $text;
    .subtitle-tract-container{
      position: relative;
      width: 100%;
      height: 25vh;
      @include scrollLayout('x');
      .scale-second{
        display: inline-block;
        width: 50px;
        height: 100%;
        background: $tint;
        box-sizing: border-box;
        border-right: 1px solid $deep;
        z-index: 1;
      }
      .fix-last-width{
        margin-left: -5px;
      }
      .chunk-container{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 5px;
        z-index: 2;
        width: 300px;
        height: 60%;
        background: rgba(0, 0, 0, 0.178);
        cursor: move;
        .width-right-ctrl{
          content: "";
          display: inline-block;
          position: absolute;
          right: 0px;
          width: 15px;
          height: 100%;
          background: #fff;
          cursor:size;
          user-select: none;
          border-radius:0 5px 5px 0;
        }
        .width-left-ctrl{
          content: "";
          display: inline-block;
          position: absolute;
          left: 0px;
          width: 15px;
          height: 100%;
          background: #fff;
          cursor:size;
          user-select: none;
          border-radius: 5px 0 0 5px;
        }
      }
      .chunk-select-active{
        @include boxFFFShadow;
        border-radius: 5px;
      }
    }
  }
  .srt-timeline-show-box{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    .srt-show-input{
      background: $tint;
      border: 0;
      color: $text;
      text-indent: 4px;
    }
  }
  .edit-subtitles-box{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    .edit-textarea{
      box-sizing: border-box;
      width: 100%;
      background: $tint;
      color: $text;
    }
  }
}