.viewport-container{
  // subtitle component style
  .subtitle-container{
    height: calc(100vh - 35px);
    border: solid 1px $tint;
  }

  

  // video component style
  .video-container{
    .video-style{
      display: block;
      width: 100%;
      height: auto;
    }
    .novideo{
      margin: 5px;
      @include textCenter(15px);
    }
  }
  .subtitle-ctrl-container{
    width: 100%;
    height: 25px;
    @include scrollLayout('x');
    .subtitle-ctrl-btn{
      border: 0;
      color: #fff;
      margin-left: 5px;
      
    }
  }
  .srt-container{
    width: 100%;
    height: calc(100vh - 80px);
    @include scrollLayout('y');
    color: #fff;
    .srt-input{
      color: #fff;
      border: $tint 0 solid;
    }
    .srt-textarea{
      color: #fff;
      border: $tint 0 solid;
      width: 100%;
    }
  }
  
}