.viewport-container{
  // subtitle component style
  .subtitle-container{
    position: relative;
    height: calc(100vh - 35px);
    border: solid 1px $tint;
  }
  // video component style
  .video-container{
    .video-style{
      display: block;
      width: 100%;
      height: auto;
    }
    .novideo{
      border: 1px dashed #fff;
      width: 98%;
      height: 200px;
      border-radius: 4px;
      margin: 5px auto 0;
      @include textCenter(200px);
      font-weight: bold;
      font-size: 2em;
    }
  }
  .subtitle-ctrl-container{
    width: 100%;
    height: 25px;
    padding: 2px;
    @include cursorPointer;
    @include scrollLayout('x');
    .subtitle-ctrl-btn{
      border: 0;
      color: #fff;
      margin-left: 5px;
      border-radius: 5px;
      vertical-align: middle;
    }
    .checkBox{
      vertical-align: middle;
    }
    .checkBox-label{
      line-height: 20px;
      margin: 0 0 0 -5px;
    }
    
  }
  .srt-container{
    width: 100%;
    height: calc(100vh - 80px);
    @include scrollLayout('y');
    color: #fff;
    .srt-input{
      color: #fff;
      border: $tint 0 solid;
    }
    .srt-textarea{
      color: #fff;
      border: $tint 0 solid;
      width: 100%;
    }
    .history-container{
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }
  
}