
$primary:#212121;
$primaryAlpha:#21212173;
$deep:#1d1d1d;
$tint:rgb(68, 68, 68);
$text:#F5F5F5;
$sub-text:#BDBDBD;
$smallTxt:12px;

.bg{
  background: $primary;
}
.bg-tint{
  background: $tint;
}
.bg-deep{
  background: $deep;
}
.text{
  color: $text;
}
.text-deep{
  color: $sub-text;
}

.text-lg{
  font-size: 24px!important;
}

.text-huge{
  font-size: 100px!important;
}

@mixin textCenter($lineHeight) {
  text-align: center;
  line-height: $lineHeight;
}

@mixin cursorPointer {
  cursor: pointer;
  user-select: none;
}

@mixin absolutePositionTool($top,$right,$bottom,$left) {
  position: absolute;
  @if($top!=0){
    top: $top;
  }
  @if($right!=0){
     right: $right;
  }
  @if($bottom!=0){
    bottom: $bottom;
  }
  @if($left!=0){
    left: $left;
  }
}
@mixin FixedPositionTool($top,$right,$bottom,$left) {
  position: fixed;
  @if($top!=0){
    top: $top;
  }
  @if($right!=0){
     right: $right;
  }
  @if($bottom!=0){
    bottom: $bottom;
  }
  @if($left!=0){
    left: $left;
  }
}

@mixin WH($w,$h) {
  @if($w){
    width: $w;
  }
  @if($h){
    height: $h;
  }
}

@mixin scrollLayout($direction) {
  overflow: hidden;
  @if($direction == 'x'){
    overflow-x: scroll;
    white-space: nowrap;
  }@else{
    overflow-y: scroll;
  }
  &::-webkit-scrollbar {
    width: 1px; /*对垂直流动条有效*/
    height: 3px; /*对水平流动条有效*/
  }
  &::-webkit-scrollbar-thumb{
    border-radius: 10px;
    box-shadow: inset 0 0 6px $tint;
    background-color: #fff;
  }
  &::-webkit-scrollbar-track{
    box-shadow:inset  $tint 0 0 5px;
    background-color: $tint 0 0 5px;
    border-radius: 3px;
  }
}