.col-xs-1{
  grid-column: span 1;
}
.col-xs-2{
  grid-column: span 2;
}
.col-xs-3{
  grid-column: span 3;
}
.col-xs-4{
  grid-column: span 4;
}
.col-xs-5{
  grid-column: span 5;
}
.col-xs-6{
  grid-column: span 6;
}
.col-xs-7{
  grid-column: span 7;
}
.col-xs-8{
  grid-column: span 8;
}
.col-xs-9{
  grid-column: span 9;
}
.col-xs-10{
  grid-column: span 10;
}
.col-xs-11{
  grid-column: span 11;
}
.col-xs-12{
  grid-column: span 12;
}